# build output
dist/

# config files
.gloomberg.yaml
.github/ttyd.Dockerfile

# data
wallets/*.json

# misc
internal/assets
metadata/
*.sqlite
.idea

# bazel
bazel-*

# not ready for prime time
deployment/
