# build output
dist/

# config files
.gloomberg.yaml
.github/ttyd.Dockerfile

# misc
internal/assets
metadata/
dev.md
*.sqlite
.idea

# testing
cmd/rawtx.go
ranks/

# not ready for prime time
deployment/
