<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{.Title}}</title>

        {{ template "style" . }}
    </head>

    <body>
        <main>
            <section id="info-bar" class="header">
                {{/* <p id="header-title">gloomberg</p> */}}
                <p>gas: <span class="gas-price" id="gas-price"></span>gw</p>
            </section>

            <section id="live-events" class="stream"></section>

            <section id="recent-events" class="stream"></section>

            {{/* <div class="footer-left">
                <form id="commandline" live-submit="send" live-hook="input">
                    <input autocomplete="off" type="text" name="message" autofocus disabled />
                    <button type="submit" disabled>go</button>
                </form>
            </div>

            <div class="footer-right"></div> */}}
        </main>

        {{ template "javascript" . }}
    </body>

</html>
