{{ define "title" }} gloomberg {{ end }}
{{ define "view" }}

<main>
    <div class="window" live-update="append" live-hook="eventstream">

        {{ range $msg := .Assigns.Events }}

        <div id="{{$msg.ID}}" class="message">
            <span class="time">{{$msg.Time}}</span>
            <span class="typemoji">{{$msg.Typemoji}}</span>
            <span class="pricearrow" style="color: {{$msg.PriceArrowColor}};">→</span>

            <span class="price">{{$msg.Price}}</span>
            <span class="currency" style="color: {{$msg.ColorPrimary}};">Ξ</span>

            <span class="collection" style="color: {{$msg.ColorPrimary}};">{{$msg.CollectionName}}</span>
            <span class="hashtag" style="color: {{$msg.ColorSecondary}};">#</span>
            <span class="tokenid" style="color: {{$msg.ColorPrimary}};">{{$msg.TokenID}}</span>

            <span class="divider">|</span>
            <a class="opensea" href="{{$msg.LinkOpenSea}}" target="_blank">OpenSea</a>

            <span class="divider">|</span>
            <a class="etherscan" href="{{$msg.LinkEtherscan}}" target="_blank">ES</a>

            <span class="divider">|</span><span class="divider">→</span>
            <span class="to" style="color: {{$msg.ToColor}};">{{$msg.To}}</span>

            {{ if $msg.SaLiRa | gt 0.0 }}
            <span class="divider">|</span>
            <span>{{ printf "%4.2f" $msg.SaLiRa }}</span>
            {{- end }}
        </div>

        {{ end }}

    </div>

    <div class="actions">
        <form id="chatinput" live-submit="send" live-hook="input">
            <input autocomplete="off" type="text" name="message">
            <button type="submit">go</button>
        </form>
    </div>

</main>

<script>
    window.Hooks = {
        "input": {
            mounted: function() {
                // clear text field
                this.el.addEventListener("submit", () => {
                    this.el.querySelector("input").value = "";
                });
            }
        },
        "eventstream": {
            // auto-scroll to bottom
            updated: function() { this.el.scrollTop = this.el.scrollHeight; }
        }
    };
</script>

{{ end }}
